<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://omegashoppinglist.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>omegashoppinglist.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OmegaShoppingList</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$OmegaShoppingList</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:omegashoppinglistdbserver.database.windows.net,1433;Initial Catalog=OmegaShoppingList_db;User ID=TinLe@omegashoppinglistdbserver;Password=SFsP-E_%#fer#%aSF@FE$^a)ds5^sd" Name="Data Source=tcp:omegashoppinglistdbserver.database.windows.net,1433;Initial Catalog=OmegaShoppingList_db;User Id=TinLe@omegashoppinglistdbserver;Password=SFsP-E_%#fer#%aSF@FE$^a)ds5^sd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ShoppingListTeam3.Data.ShoppingListDbContext, ShoppingListTeam3.Data" MigrationConfiguration="ShoppingListTeam3.Data.Migrations.Configuration, ShoppingListTeam3.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:omegashoppinglistdbserver.database.windows.net,1433;Initial Catalog=OmegaShoppingList_db;User Id=TinLe@omegashoppinglistdbserver;Password=SFsP-E_%#fer#%aSF@FE$^a)ds5^sd</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>